/* Font family from google fonts setup directly in the CSS Style Sheet */
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body{
    padding: 10%;
    font-size: 2rem;
    font-family: monospace;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    /* font-weight:600; */
    /* font: 2rem; */
}

/* input, button{
    font: inherit;
} */

p{
    /* text-indent: 2em; */
    text-align: justify;
    text-transform: lowercase;
    text-decoration: none;
    line-height: 1.5;
    /* font-family: monospace; */
    
    /* font-style: oblique; */
    /* font-weight: 600; */
    /* word-spacing: 1.5em; */
    /* letter-spacing: 1.5em; */
    /* text-decoration: line-through; */
}














