body {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.5;
    /* background-color: papayawhip; */
    background:papayawhip;
    /* color: blue; */
    color: rgb(255,0,0);
    /* color: rgb(0,0,255); */
    /* color: rgb(0,255,0); */
}
p{
    /* The alpha channel allow transparency. It goes from 0 (full transparency) to 1 (zero transparency) */
    color: rgba(0,0,0,0.5);
    color: #FF0000;
    color: #00F;
    color: hsla(300, 100%, 57%, 0.753);
}